@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #16191b;
  color: #fff;
}

/* 
HEADER */
.header {
  position: fixed;
  width: 100%;
  z-index: 4;
  padding: 0px 125px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(20px);
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  display: flex;
  align-items: center;
}
.logo img {
  margin-right: 10px;
}

.telegram {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #16191b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.telegram:hover {
  background-color: #31383b;
}

/* POOL */

.pool {
  padding: 120px 10% 50px;
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.pool-card {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 32px;
  align-self: start;
  gap: 30px;
  text-align: center;
}

.pool-list {
  width: 60%;
  --grid-layout-gap: 16px;
  --grid-column-count: 4;
  --grid-item--min-width: 150px;
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );
  grid-gap: 16px 16px;
  gap: 16px 16px;
}

.coin {
  text-align: center;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  border: 0.5px solid #ffffff29;
  align-self: center;
}

.card {
  background: #1b2023;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.card-text {
  padding: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.pool-info {
  display: flex;
  justify-content: space-between;
  background-color: #1b2023;
  width: 100%;
  padding: 20px;
}

.info h4 {
  font-size: 16px;
}

.info p {
  font-size: 14px;
  color: #bababa;
}

.pool-adress {
  background-color: #1b2023;
  padding: 20px 24px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.adress {
  display: flex;
  justify-content: space-between;
}

.adress p {
  font-size: 15px;
  color: #bababa;
}

.pool-item {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.pool-links {
  padding: 10px;
  background: linear-gradient(180deg, #272e32, #232a2e);
  cursor: pointer;
  border-radius: 100px;
  font-size: 14px;
  color: #bababa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  gap: 8px;
  text-decoration: none;
}

.btn {
  display: block;
  cursor: pointer;
  background: linear-gradient(178.41deg, #00d1ff -11.21%, #009aff 98.65%);
  border: none;
  color: #fff;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 0px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  transition: all 0.2s;
}

.btn:hover {
  background: linear-gradient(178.41deg, #00d1ff -11.21%, #0082d8 98.65%);
}

.btn2 {
  background: linear-gradient(180deg, #272e32, #232a2e);
}
.btn2:hover {
  background: linear-gradient(180deg, #2a3033, #232a2e);
}

@media (max-width: 1200px) {
  .pool-card {
    width: 60%;
  }
  .pool-list {
    width: 40%;
  }
}

@media (max-width: 900px) {
  .header {
    padding: 0px 20px;
  }
  .pool {
    display: block;
    padding: 100px 20px;
  }
  .pool-card {
    width: 100%;
  }
  .pool-list {
    width: 100%;
  }
}
